<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ADD Teachers</title>
  <link rel="stylesheet" href="/static/css/styles.css">
  <script>
    function showAlert() {
      alert('File processing in progress. Please wait for the process to complete.');
    }
  </script>
</head>
<body>
<header>
  <div class="logo-container">
    <!--        <img src="img/logo.png" alt="Description of your image" class="logo" style="width: 80px; height: auto;">-->
    <h1 class="company-name">学生成绩分析系统</h1>
  </div>
  <nav>
    <ul>
      <li><a href="/admin">学生</a></li>
      <li><a href="/Add-students">添加学生</a></li>
      <li><a href="/All-teachers">老师</a></li>
      <li><a href="/Add-teachers">添加老师</a></li>
      <li><a href="/Course-setting">课程设置</a></li>
    </ul>
  </nav>
</header>
<h1>添加老师</h1>
<form action="/Add-A-teacher" method="post" th:object="${teacher}">
  <h3 class="A-teacher-input"> 输入老师信息以添加 </h3>
  <label for="Teacher">Teacher Name:</label>
  <input type="text" id="Teacher" name="Teacher" required/>
  <br/>
  <label for="PhoneNumber">Phone Number:</label>
  <input type="text" id="PhoneNumber" name="PhoneNumber" required/>
  <br/>
  <label for="Grade">Grade:</label>
  <input type="text" id="Grade" name="Grade" required/>
  <br/>
  <label for="myClass">Class:</label>
  <input type="text" id="myClass" name="myClass" required/>
  <br/>
  <input type="submit" value="添加"/>
</form>
<form action="/Add-teachers" method="POST" enctype="multipart/form-data" onsubmit="showAlert()">
  <h3 class="Several-Teachers-input"> 选择文件进行批量导入</h3>
  <button><a href="/teachers-download">下载导入模板</a></button>
  <input type="file" name="file" accept=".xlsx, .xls" />
  <br />
  <input type="submit" value="导入" />
</form>

</body>
</html>