<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <div class="logo-container">
        <!--        <img src="img/logo.png" alt="Description of your image" class="logo" style="width: 80px; height: auto;">-->
        <h1 class="company-name">Student Score Analysis System</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/admin">Students</a></li>
            <li><a href="/Add-students">Add Students</a></li>
            <li><a href="/Edit-student">Edit Student</a></li>
            <li><a href="/All-teachers">Teachers</a></li>
            <li><a href="/Add-teachers">Add Teachers</a></li>
        </ul>
    </nav>
</header>
<h1>Students List</h1>
<table>
    <thead>
    <tr>
        <th>Student Name</th>
        <th>ID</th>
        <th>Grade</th>
        <th>Class</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.StudentName}"></td>
        <td th:text="${student.StudentID}"></td>
        <td th:text="${student.Grade}"></td>
        <td th:text="${student.myClass}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
