<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <div id="cart-container">
        <h1>Shopping Cart</h1>

        <p>User: <span th:text="${name}"></span></p>

        <form method="post" action="/update-cart">
            <table>
                <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Count</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${items}">
                    <td th:text="${item.getKey()}" name="items"></td>
                    <td> <input type="number" min = "0" max ="2147483647" th:value="${item.getValue()}" name="count" /></td>
                </tr>
                </tbody>
            </table>

            <button type="submit" class="update-cart-btn">Update Cart</button>
        </form>
        <br>
        <a th:href="@{/newname}">add a new item with cost</a>
        <br>
        <a th:href="@{/delname}">delete item</a>
        <br>
        <a th:href="@{/updatename}">update item name and cost</a>
        <br>
        <a th:href="@{/logout}">click here to log out</a>
        <br>
    </div>
</body>
</html>
