<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程设置</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
  <div class="logo-container">
    <!--        <img src="img/logo.png" alt="Description of your image" class="logo" style="width: 80px; height: auto;">-->
    <h1 class="company-name">Student Score Analysis System</h1>
  </div>
  <nav>
    <ul>
      <li><a href="/admin">Students</a></li>
      <li><a href="/Add-students">Add Students</a></li>
      <li><a href="/Edit-student">Edit Student</a></li>
      <li><a href="/All-teachers">Teachers</a></li>
      <li><a href="/Add-teachers">Add Teachers</a></li>
      <li><a href="/Course-setting">课程设置</a></li>
    </ul>
  </nav>
</header>
<main>
  <h2>添加课程</h2>
  <form action="/add-course" method="POST">
    <input type="text" name="courseName" placeholder="课程名字" required>
    <button class="button-1" type="submit">Add</button>
  </form>

  <h2>课程总览</h2>
  <ul>
    <!-- Loop through the courses and display them -->
    <ul class="course-list">
      <li th:each="course : ${courses}">
        <form action="/delete-course" method="POST" style="display: inline;">
          <span th:text="${course}"></span>
          <input type="hidden" name="courseName" th:value="${course}">
          <button class="button-2" type="submit" action="/delete-course" method="POST"><span class="text">删除</span></button>
        </form>
      </li>
    </ul>
  </ul>
</main>
</body>
</html>