<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<header>
    <div class="logo-container">
<!--        <img src="img/logo.png" alt="Description of your image" class="logo" style="width: 80px; height: auto;">-->
        <h1 class="company-name">Student Score Analysis System</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/Home">Home</a></li>
            <li><a href="/my-class">My Class</a></li>
            <li><a href="/student-score-analysis">Student Score Analysis</a></li>
            <li><a href="/score-input">Score Input</a></li>
        </ul>
    </nav>
</header>
<main>
    <section id="my-class">
        <h2>My Class</h2>
        <!-- Content related to "My Class" goes here -->
    </section>

    <section id="student-score-analysis">
        <h2>Student Score Analysis</h2>
        <!-- Content related to "Student Score Analysis" goes here -->
    </section>

    <section id="score-input">
        <h2>Score Input</h2>
        <!-- Content related to "Score Input" goes here -->
    </section>
</main>
</body>
</html>
