<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <div class="logo-container">
        <!--        <img src="img/logo.png" alt="Description of your image" class="logo" style="width: 80px; height: auto;">-->
        <h1 class="company-name">Student Score Analysis System</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/Home">Home</a></li>
            <li><a href="/my-class">My Class</a></li>
            <li><a href="/student-score-analysis">Student Score Analysis</a></li>
            <li><a href="/score-input">Score Input</a></li>
            <li><a href="/Exam-management">考试管理</a></li>
        </ul>
    </nav>
</header>

<table>
    <thead>
    <tr>
        <th>Grade</th>
        <th>Class</th>
        <th>Student Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="groupedStudents : ${students.groupBy(#root.Grade + '-' + #root.myClass)}">
        <td colspan="3">Grade: <span th:text="${groupedStudents[0].Grade}"></span> | Class: <span th:text="${groupedStudents[0].myClass}"></span></td>
    </tr>
    <tr th:each="groupedStudents : ${students.groupBy(#root.Grade + '-' + #root.myClass)}">
        <td></td>
        <td></td>
        <td th:each="student : ${groupedStudents}" th:text="${student.StudentName}"></td>
    </tr>
    </tbody>
</table>


</body>
</html>