<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <div class="logo-container">
        <!--        <img src="img/logo.png" alt="Description of your image" class="logo" style="width: 80px; height: auto;">-->
        <h1 class="company-name">Student Score Analysis System</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/Home">Home</a></li>
            <li><a href="/my-class">My Class</a></li>
            <li><a href="/student-score-analysis">Student Score Analysis</a></li>
            <li><a href="/score-input">Score Input</a></li>
        </ul>
    </nav>
</header>
<canvas id="myChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('myChart').getContext('2d');

        // Chart configuration
        var chartConfig = {
            type: 'bar',
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [{
                    label: 'Sales',
                    data: [12, 19, 3, 5, 2, 3, 10],
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        };

        // Create the chart
        var myChart = new Chart(ctx, chartConfig);
    });
</script>
</body>
</html>